QWidget#FuncPanelWidget {
    border-radius: 8;
    background-color: #313131;
 }

 QLabel#FuncPanelWidget_m_Name {
    font-size: 15px;
    color: #FFFFFF;
 }

 QLabel#FuncPanelWidget_m_Dec {
    font-size: 11px;
    color: #575859;
 }
