/*
 * @Author: weick
 * @Date: 2023-12-05 23:04:39
 * @Last Modified by: weick
 * @Last Modified time: 2023-12-05 23:37:51
 */

QWidget {
    outline: none;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    color: #969799;
}
