TextEdit {
    padding: 3px 6px;
    border-radius: 6px;
    background: #F2F4F9;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #16181A;
}

TextEdit:hover {
    border: 1px solid rgba(15, 38, 77, 0.12);
}

TextEdit:focus {
    border: 1px solid #2977FF;
    selection-background-color: #C5D8FF;
    selection-color: #16181A;
}

TextEdit::placeholder {
    color: #828B99;
}
